---
import "../styles/global.css";
import { requireEnv } from "../lib/env";
import { drupalClient } from "../lib/drupal";
import { cfImg, getImagesFromEntity } from "../lib/jsonapi-images";
// Cloudflare SSR:
const runtime = Astro.locals.runtime;
// Node dev fallback:
const buildEnv = import.meta.env;
const env = requireEnv(runtime?.env ?? buildEnv);
const drupal = drupalClient(env);
export const prerender = false;

const articles = await drupal.api<{ data: any[]; included?: any[] }>(
    "/node/work",
    {
        sort: "-created",
        "page[limit]": "3",
        include: "field_media,field_media.field_media_image",
        // "fields[node--work]": "title,path,field_media",
    },
);
---

<h2 class="text-2xl font-bold mb-4">Featured Artwork</h2>
<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {
        articles.data.map((n) => {
            const images = getImagesFromEntity(
                n,
                articles.included,
                env.DRUPAL_BASE_URL || "",
            );
            const alias = n.attributes?.path?.alias ?? `/node/${n.id}`;
            const img = images[0];

            return (
                <li class="overflow-hidden">
                    <a class="block h-full" href={alias}>
                        {/* image frame keeps consistent size; image keeps aspect ratio aspect-[4/3] */ } 
                        <div class="bg-[#928e7f26] flex items-center justify-center p-6 border-2 rounded-sm shadow aspect-[4/3]">
                            {img?.src && (
                                // <img
                                //     class="max-w-full max-h-full object-contain"
                                //     src={img.src}
                                //     alt={img.alt ?? ""}
                                //     loading="lazy"
                                // />
                                <img
                                    src={cfImg(img.src, { width: 400, quality: 85 })}
                                    srcset={`${cfImg(img.src, { width: 400, quality: 85 })} 800w, ${cfImg(img.src, { width: 800, quality: 85 })} 1600w`}
                                    sizes="(max-width: 800px) 100vw, 800px"
                                    loading="lazy"
                                    decoding="async"
                                    alt={img.alt ?? ""}
                                    class="max-w-full max-h-full object-contain"
                                />
                            )}
                        </div>

                        {/* <div class="p-4">
            <div class="text-blue-600 hover:underline font-medium">
                {n.attributes.title}
            </div>
            </div> */}
                    </a>
                </li>
            );
        })
    }
</ul>
