---
import '../styles/global.css';
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Giorgos Chronopoulos | Watercolor | Fine arts</title>
  </head>
  <body transition:animate="fade">
	<ClientRouter />
	<div class="flex flex-col min-h-screen">
		<Header/>
        <!-- <div transition:persist>
            <Header />
        </div> -->
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</div>
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
